---
layout: default
title: Tags
permalink: /tags/
---

{% capture site_tags %}
  {% for tag in site.tags %}
    {{ tag | first }}{% unless forloop.last %},{% endunless %}
  {% endfor %}
{% endcapture %}

{% assign tag_words = site_tags | split: ',' | sort %}

<!-- begin tags -->
<section class="section tags">

  <!-- 输出所有标签 -->
  <h2>All Available Tags:</h2>
  <ul>
    {% for tag in tag_words %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>

  <!-- 遍历每个标签并显示对应的文章 -->
  {% for item in (0..site.tags.size-1) %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}

    <div class="tags__inner" tag="{{ this_word | cgi_escape }}">

      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="tag__info">
              <h1 class="tag__title">{{ this_word }} <span class="tag__counter">{{ site.tags[this_word].size }}</span></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container animate">
        <div class="row">
          {% for post in site.tags[this_word] %}
            {% if post.title != null %}
              <div class="col col-4 col-d-6 col-t-12">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  {% endfor %}

</section>
